#create{
    position: absolute;
    top: 75%;
    left: 25%;
    
}

#checkButton{
    position: absolute;
    top: 78%;
    left: 60%;
}
#checkButton button{
    width: 60px;
    height: 25px;
    font-size: 15px;
}
.myListLI{
    position: relative;
    left: 20px;
    line-height: normal;
}

#myList p{
    font-size: 30px;
    color: red;
    display: inline;
}
#myListdiv{
    width: 69.5%;
    height: 65%;
    border: black solid;
    float: left;
}